# Generic
*~
*.swp
*.orig

# LaTeX
*.aux
*.bbl
*.blg
*.fff
*.fls
*.lof
*.log
*.out
*.xdv
*-converted-to.*
*-crop.*
*.synctex.gz
*.fdb_latexmk

# LaTeX - 'changes' package
*.loc
*.soc

# Emacs
.#*
auto/
*Notes.bib

#
dist/
docs/
reports/
